// TODO: Not working
#d3chart1 rect {
  fill: steelblue;
}
#d3chart1 text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#d3chart1 {
  fill: steelblue;
  font: 10px sans-serif;
  text-anchor: end;
}

// .d3svgchart {
//   font: 10px sans-serif;
//   // background-color: steelblue;
//   text-align: right;
//   // text-anchor: end;
//   padding: 3px;
//   margin: 1px;
//   color: white;
// }
