body {
  font-family: Lucida Sans Unicode,Lucida Grande,sans-serif;
}

.d3svgchart {
  height: 540px;
}

.d3svgchart_legend {
  height: 58px;
  margin: 0 auto;
  // display: inline-block;
  flex-shrink: 0;
}

.card-block {
  height: 586px;
}

.card-header {
  height: 54px;
}

.card-header span,
.card-header a,
.breadcrumb *,
ngb-tooltip-window div
{
  user-select: none;
}

.card-footer {
  height: 80px;
  // white-space: nowrap;
  display: inline-flex;
  // justify-content: space-between;
}

.card-footer button {
  white-space: nowrap;
  // margin-top: 10px;
  margin: 10px;
}

div.d3tooltip {
  pointer-events: none;  // Else tooltip can eat mouseovers, which is a problem when it's hidden.
  position: absolute;
  padding: 6px;
  font: 12px sans-serif;
  font-size: 13px;
  background: lightsalmon;
  border: 0px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

// div.d3tooltip th, tr, td {
div.d3tooltip th, tr {
  border-top: none !important;
}
