// .right.floated {
//   float: right;
//   vertical-align: middle;
//   position: relative;  
//   margin: 0 auto;
//   // margin-top: 10px;
// }
// div.card-footer {
//   border: 2px solid blue;
//   // height: 20px;
//   position: relative;  
//   display: block;
//   display: inline-block;
//   justify-content:center;
//   vertical-align: middle;
// }

.d3svgchart {
  height: 540px;
}

// #d3chart1b {
//   display: none;
// }

.d3svgchart_legend {
  height: 58px;
  margin: 0 auto;
  // display: inline-block;
  flex-shrink: 0;
}

// #d3chart1_legend > text:nth-child(1) {
//   font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
// }
// #d3chart2_legend > text:nth-child(1) {
//   font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
// }
// .d3svgchart_legend .text {
//   font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
//   // font-family: 'arial' !important;
//   font-weight: 'normal' !important;
// }

.card-block {
  height: 586px;
}

.card-header {
  height: 54px;
}

.card-footer {
  height: 80px;
  // white-space: nowrap;
  display: inline-flex;
  // justify-content: space-between;
}

.card-footer button {
  white-space: nowrap;
  // margin-top: 10px;
  margin: 10px;
}

// TODO: Not working
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}
.node text {
  font: 12px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

// TODO: Not working
div.tooltip {
  position: absolute;	
  text-align: center;	
  width: 60px;	
  height: 28px;		
  padding: 2px;	
  font: 12px sans-serif;	
  background: lightsalmon;	
  border: 0px;					
  border-radius: 8px;
}
