<div [@routerTransition]>
    <!-- <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2> -->
    <!-- <h2 class="text-muted">About</h2> -->
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel >
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <!-- <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="SingularityNET slide" width="100%"> -->
                    <img class="img-fluid mx-auto d-block rounded" [src]="slider.imagePath" alt="SingularityNET slide" width="1200px" height="auto">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>
